<div class='container'>
  <ul class="dropdown-menu dropdown-menu-center" aria-labelledby="accountDropdown">
    <%= link_to 'BASE', root_path, class: 'dropdown-item' %> |
    <%= link_to 'expressions', analytic_path, class: 'dropdown-item' %> |
    <%= link_to 'categories_each_occurrences', categories_path, class: 'dropdown-item' %> |
    <%= link_to 'categories_inline', categories_inline_path, class: 'dropdown-item' %> |
    <%= link_to 'testing', testing_data_path, class: 'dropdown-item' %>
  </ul>
</div>
