<div class='container'>
  <ul class="dropdown-menu dropdown-menu-center" aria-labelledby="accountDropdown">
    <%= link_to 'BASE', root_path, class: 'dropdown-item' %> |
    <%= link_to 'expressions', analytic_path, class: 'dropdown-item' %> |
    <%= link_to 'categories_each_occurrences', categories_path, class: 'dropdown-item' %> |
    <%= link_to 'categories_inline', categories_inline_path, class: 'dropdown-item' %> |
    <%= link_to 'testing_data', testing_data_path, class: 'dropdown-item' %> |
    <br>
    <hr>

    <%= link_to 'FULL-JOBS', scraper_path, class: 'dropdown-item' %> |
    <%= link_to 'Get_LINKS_of_Jobs', scraper_list_jobs_path, class: 'dropdown-item' %> |
    <%= link_to 'Get_each_JOB', scraper_one_job_path, class: 'dropdown-item' %> |
    <br>
    <hr>

    <%= link_to 'Companies_List', scraper_companies_path, class: 'dropdown-item' %> |
    <%= link_to 'Get_each_Company', scraper_one_company_path, class: 'dropdown-item' %> |
    <br>
    <hr>

    <%= link_to 'People_List', scraper_people_path, class: 'dropdown-item' %> |
    <%= link_to 'Get_each', scraper_one_person_path, class: 'dropdown-item' %> | | | | |

    <%= link_to 'TESTING', scraper_testing_path, class: 'dropdown-item' %>
  </ul>
</div>
